*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}